*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(75, 70, 70);
  background-color: white);
  max-width: 950px;
  margin: auto;
}

/* header { background-color:coral; color:white; text-align:center;height:80px;} */
header {
  background-color: rgb(89, 99, 112);
  background-color: rgb(50, 50, 151);
  color: white;
  text-align: center;
 /* height: 80px; */
}
header p {
  text-align: center;
}
header h1 {
  text-align: center;
  padding-top: 18px;
  font-size: 2em;
}

nav {
  background-color: black;
  color: white;
  /* height: 54px; */
  font-size: 22px;
  text-align: right;
  word-spacing: 2em;
  padding-right: 68;
  padding-top: 12px;
}

nav a {
  padding-top: 5px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  background-color: blue;
}

.showcase {
  background-image: url("../Images/CourtHouse-612x612.jpg");
  background-color: red;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  height: 420px;
  display: block;
  padding: 24px 64px;
  border: black solid 3px;
}


.wrapper {
  background-color: rgb(139, 76, 51);
  background-color: white;
  width: 85%;
  padding: 3rem 3rem 0 3rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: black;
  background-color: rgb(75, 70, 70);
  background-color: rgb(139, 76, 51);
  background-color: rgb(50, 50, 151);
  background-color: white;
  

  grid-column-gap: 1.8em;
  width: 100%;
  margin: .2em auto 0 auto;
  /* background-image: url('Images/CourtHouse-612x612.jpg'); */
  /* padding:  0px  24px; */
}


.box {
  background-color: gray;
  border-radius: 12px;
  margin: 0px;
}

.box h1, h2 {
  text-align: center;
  padding-bottom: 12px;
}

.box p {
  text-align: center;
  padding: 0px 1.2em 1.2em 1.2em;
}

 

footer {
  margin-top: 1em;
  background-color: rgb(89, 99, 112);
  border-radius: 14px;;
}

footer h1{
	text-align: center;
  font-size: 1.2rem;
  padding: 0 0 0 0;
}
footer h2 {
	text-align: center;
  font-size: 1.2rem;
  padding: 0 0 0 0;
}

@media (max-width: 600px) {
  .container {
    display: block;
  }
  

  header {
    background-color: rgb(64, 76, 92);
    color: white;
    text-align: center;
    font-size: 12;
   /*  height: 18vh; */
  }

  nav {
    display: flex;
    font-size: 1em;
  }

  nav a {
    padding: 12px;
  }

  .box {
    width: 100%;
    margin-top: 1em;
  }
 
}
