
::before,
::after,
*  { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;}

 

header {
    background-color: #fcb024;
    width: auto;
    min-height: 8vh;
    padding: 1vw 0 0 8vw;
    font-size:  1.8em ;
}

.logo {
    border: 8px black;
    width:  100px;
    height: 100px;
    border-radius: 50px;
    /* background-image: url('airplane.jpg'); */
    background-color: rgb(255, 192, 208);
    float: left;
    text-align: center;
    margin: auto 2.2em  auto 0;
}


nav {
    display: flex;
    background-color: black;
    color:antiquewhite;
    justify-content: flex-end;
    align-items:     center;
    gap: .8em; 
    font-size:    1.2em ;
    font-weight:  bold ;
    /* width: auto; */
    outline: 2px solid rgb(119, 0, 255);
    padding-right: 6em;
}

.navItem {
    font-size: 1.4em ;
}

.navItem:hover {
    background-color: antiquewhite;
    color: gray;
}

nav a {
    color:antiquewhite;
    text-decoration: none;
}
nav a:hover {
    color:antiquewhite;
    text-decoration: none;
    background-color: blue;
}

#logo {
    align-self: flex-start;
    outline: 1px dashed red;
}

nav ul {
      display: flex;
      justify-content: flex-end;
      gap: .8em; 
      font-weight: bold;
    
}
nav li {  
    outline: 1px dashed red;
     /*width: 35%; */
     list-style: none;
     text-align: center;
     font-size: 1.8em;
}


 